<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>
-->
<!--https://ionicframework.com/docs/api/alert-->

<app-header [titulo]="titulo || 'Alert Page'"></app-header>


<ion-content padding>

  <ion-button expand="full" 
              color="primary" 
              (click)="presentAlert()">
    Mostrar Alerta
  </ion-button>

  <ion-button expand="full" 
  color="secondary" 
  (click)="presentInput()">
Mostrar Input
</ion-button>




</ion-content>